@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  color: var(--black);
}

#root {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

a, ul, li {
  text-decoration: none;
  list-style: none;
}

:root {
  --white: #FFF;
  --background-color: #E5E5E5;

  --black: #000000;

  --red-900:  #F8475F;
  
  --gray-200: #7A7A7A;
  --gray-700: #333333;
}